       * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-size: 16px;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #f6f6f6;
    background: #aac6fc;
    display: block;
    height: 100vh;
    font-size: 14px;
}

.container {
    display: block;
    width: 90%;
    min-width: 1140px;
    height: 90%;
    min-height: 800px;
    overflow: hidden;
    margin: 30px auto;
    border-radius: 6px;
    box-shadow: 0 18px 30px rgba(0,0,0,0.17);
    position: relative;
}

.backgroud img {
    position: absolute;
    top: 0;
    left: 28px;
    right: 0;
    display: block;
    width: 80%;
}

.navbar {
    position: absolute;
    top: 30px;
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
    height: 50px;
}

.navbar .left-part {
    float: left;
    display: block;
    width: 80%;
}

.navbar .left-part .logo {
    float: left;
    margin: 0 0 0 30px;
    font-size: 1.1875rem;
    color: #383a48;
    font-weight: normal;
    letter-spacing: -1px;
}

.navbar .left-part .logo .bold {
    font-weight: normal;
    margin: 0 0 0 -5px;
    color: rgba(53,53,53,0.5);
}

.navbar .left-part ul {
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
}

.navbar .left-part ul li {
    float: left;
    display: block;
    margin: 0 10px;
}

.navbar .left-part ul li a {
    text-decoration: none;
    color: #383a48;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s linear;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1px;
}

.navbar .left-part ul li a:hover {
    color: #ffffff;
}

.navbar .right-part {
    display: block;
    width: 20%;
    float: left;
}

.navbar .right-part .btn {
    float: left;
    margin: 0 30px 0 0;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 80px;
    font-weight: 300;
    font-size: initial;
    background: #4484ff;
    border: 0;
    border-radius: 60px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.8125rem;
    box-shadow: 0 7px 13px rgba(0,0,0,0.17);
    transition: all 0.2s linear;
}

.navbar .right-part .btn:focus
.navbar .right-part .btn:active {
    outline: none;
    border: none;
}

.paragraph {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 20px;
}

.paragraph article {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}

.paragraph .btn {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 110px;
    margin: 25px auto;
    background: #383a45;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 69px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 0.8125rem;
    box-shadow: 0 7px 13px rgba(0,0,0,17);
    transition: all 0.2s linear;
}

.paragraph .btn:hover {
    box-shadow: none;
}

.paragraph .btn .cta {
    background: linear-gradient(-44deg, #f6e049, #eebed3);
    color: white;
}

.scroll-down {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.scroll-down .scrolldown-link {
    text-align: center;
    margin: 40px auto;
    display: block;
    transform: rotate(-90deg);
    font-family: sans-serif;
    font-size: 0.8125rem;
    color: #383a45;
    text-decoration: none;
    transition: all 0.2s linear;
}

.scroll-down .scrolldown-link:hover {
    color: #ffffff;
}